body
{
    background-color: black;
    color: lightgray;
}

a {
    color: lightgray
        
}

a:visited {
    color: lightgray
}


.sentenceBlock
{
    border-bottom-style: solid;
    border-bottom-color: lightgray;
}

.updatingSentenceBlock
{
    background-color: green;
}

.char
{
    display: inline-block;
    font-size: 2em;
}

.freq
{
    display: inline-block;
    font-size: 0.7em;
}

input
{
    width: 200px;
    height: 2em;
}
