body
{
    background-color: black;
    color: lightgray;
    font-size: 1.5em;
    font-family: MS Gothic;
}

a {
    color: lightgray
}

a:visited {
    color: lightgray
}

.sentenceBlock
{
    border-bottom-style: solid;
    border-bottom-color: lightgray;
}

.updatingSentenceBlock
{
    background-color: green;
}

.char
{
    display: inline-block;
    font-size: 2em;
    vertical-align: bottom;
    font-family: MS Gothic;
}

.freq
{
    display: inline-block;
    font-size: 0.7em;
    vertical-align: bottom;
}

.buttons
{
    display: inline-block;
    vertical-align: bottom;
}

.buttons input
{
    width: 80px;
    height: 50px;
    border: 0;
    white-space: normal;
    vertical-align: bottom;
}

.insultForImproperLogin
{
    color: red;
}

#popupOverlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: white;
    opacity: 0.3;
    display: none;
}

#popupCharacterDetails
{
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    z-index: 100;
    background-color: black;
    overflow-y: auto;
    display: none;
}

#closePopupButton
{
    font-size: 2em;
    position: absolute;
    right: 0;
    top: 0;
}