<header>
    <a [routerLink]="['/' + username]">一覧へ移動</a>
</header>

<button class="hideButton" *ngIf="!(isCharacterHidden | async)" (click)="hideCharacter()">Hide</button>
<button class="hideButton" *ngIf="isCharacterHidden | async" (click)="unhideCharacter()">Unhide</button>

<h1>{{ character }}</h1>

<h2>発音</h2>
<div class="card">
    {{ kanjiDetail.readings.join(" / ") }}
</div>

<h2>意義</h2>
<div class="card">
    {{ kanjiDetail.meanings.join(" / ") }}
</div>

<h2>{{ character }}を含む単語</h2>
<div class="card">
    <ul>
        <li *ngFor="let word of kanjiDetail.wordsFromExamples">
            <button (click)="goToSentencesForWord(word)" class="linkbutton">
                {{ word.kanjiText }} ({{ word.readings.join("/") }}) ({{ word.frequency}})
            </button>
        </li>
    </ul>
</div>

<div *ngIf="kanjiDetail.jigen">
    <h2>「{{ character }}」の字源</h2>
    <app-sentence [sentence]="kanjiDetail.jigen"></app-sentence>
</div>

<h2>例文</h2>

<app-sentence [sentence]="sentence" *ngFor="let sentence of kanjiDetail.sentences">
</app-sentence>