<%- include("header.ejs") -%>
    <div id="mainPage">
        <h1>INSERT USERNAME</h1>
        <% if(invalidLogin) { %>
            <h2 class="insultForImproperLogin">Login properly, you dipshit</h2>
        <% } %>
        <form method="GET" action="sentences">
            <input type="text" name="userName">
            <input type="submit" value="go">
        </form>

        <h1>Kanji detail</h1>
        <form id="frmOpenKanjiDetail" method="GET">
            <input id="txtCharacterForDetail" type="text" name="character">
            <input type="submit" value="go">
            <h2 id="openKanjiDetailValidator" class="insultForImproperLogin">input one character pls</h2>
        </form>
    </div>
    <script src="main.js"></script>
    <script>
        const frmOpenKanjiDetail = document.getElementById("frmOpenKanjiDetail")
        const openKanjiDetailValidator = document.getElementById("openKanjiDetailValidator")

        openKanjiDetailValidator.style.display = "none"

        frmOpenKanjiDetail.addEventListener("submit", (ev) =>
        {
            const character = document.getElementById("txtCharacterForDetail").value

            if (character.length != 1)
            {
                openKanjiDetailValidator.style.display = "block"
                ev.preventDefault()
            }
            else 
            {
                frmOpenKanjiDetail.action = "kanjiDetail/" + character
            }
        })
    </script>

<%- include("footer.ejs") -%>