<div class="jpn">
<%- splits
    .map(word => "<a href='#' onclick='showDictionaryDefinition(\"word\"); return false;'>word</a>".replace(/word/g, word))
    .join("")
%></div>

<% if (kana != null) { %>
    <div class="kana"><%= kana %></div>
<% } %>
<% if (eng != null) { %>
    <div class="eng"><%= eng %></div>
<% } %>