<div class="jpn">
<%
    let currentColor = 0
    let coloredSplits = []

    splits.forEach(word => {
        if (word == "「" || word == "(")
            currentColor += 1
        coloredSplits.push({
            word: word,
            color: 
                currentColor == 0 ? "inherit" :
                currentColor == 1 ? "red" :
                currentColor == 2 ? "green" :
                currentColor == 3 ? "yellow" :
                currentColor == 4 ? "purple" :
                "inherit"
        })
        if (word == "」" || word == ")")
            currentColor -= 1
    })
%>
<%- 
    coloredSplits
    .map(split => 
    "<a href='#' onclick='showDictionaryDefinition(\"word\"); return false;' style='color: thisColor'>word</a>"
            .replace(/word/g, split.word)
            .replace(/thisColor/g, split.color)
        )
    .join("")
%></div>

<% if (kana != null) { %>
    <div class="kana"><%= kana %></div>
<% } %>
<% if (eng != null) { %>
    <div class="eng"><%= eng %></div>
<% } %>