<div id="dictionaryDefinitionsBody">

<% if (definitions.length == 0) { %>
    NOTHING TO SEE HERE FOR WORD <%= word %>
<% } %>

<% definitions.forEach((definition) => { %>
<div class="dictionaryDefinition">
    Keys: <%= definition.keys.join("; ") %> <br/>
    Glosses: <%= definition.glosses.join("; ") %><br/>
</div>
<% }) %>

</div>
<div class="fixedFooter">
    <a id="closePopupButton" href="#" onClick="hideCharacterDetails(); return false">BACK</a>
</div>