<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Knaji</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="main.js"></script>
</head>

<body>
    <h1>HEY</h1>
    <% if(invalidLogin) { %>
        <h2 class="insultForImproperLogin">Login properly, you dipshit</h2>
    <% } %>
    <form method="GET" action="sentences">
        <input type="text" name="userName">
        <input type="submit" value="go">
    </form>
</body>

</html>