* {
    box-sizing: border-box;
}

body {
    background-color: #13073a;
    color: #887caf;
    font-family: "MS Gothic", TakaoGothic;
    font-size: large;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
}

a {
    color: #887caf;
}

a:visited {
    color: #887caf;
}

.sentenceContainer
{
    border-bottom-style: solid;
    border-bottom-color: #887caf;
}

.linkbutton {
    background:none;
    color:inherit;
    border:none; 
    padding:0!important;
    font: inherit;
    /*border is optional*/
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.card
{
    background-color: #180b22;
    border-style: solid;
    border-color: #887caf;
    padding: 10px;
    margin: 5px 0;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: rgba(255, 255, 255, 0.3);
    display: none;
}

#loaderText {
    animation: spin 2s linear infinite;
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -2.5em;
    margin-top: -0.75em;
    background-color: #180b22;
    /* color: darkred; */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
