* {
    box-sizing: border-box;
}

body {
    background-color: #13073a;
    color: #887caf;
    font-family: "MS Gothic", TakaoGothic;
    font-size: 2em;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
}

a {
    color: #887caf;
}

a:visited {
    color: #887caf;
}

.sentenceContainer
{
    border-bottom-style: solid;
    border-bottom-color: #887caf;
}

.linkbutton {
    background:none;
    color:inherit;
    border:none; 
    padding:0!important;
    font: inherit;
    /*border is optional*/
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.card
{
    background-color: #180b22;
    border-style: solid;
    border-color: #887caf;
    padding: 10px;
    margin: 5px 0;
}