* {
    box-sizing: border-box;
}

body {
    background-color: #13073a;
    color: #887caf;
    font-family: "MS Gothic", TakaoGothic;
    font-size: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

a {
    color: #887caf;
}

a:visited {
    color: #887caf;
}

.sentenceContainer
{
    border-bottom-style: solid;
    border-bottom-color: #887caf;
}