h2 {
    margin: 3px;
}

h3 {
    display: inline-block;
    margin: 3px;
}

.kanji
{
    font-size: 2em;
    display: inline-block;
}

.linkbutton {
    font-size: 2em;
}

.hiddenKanji {
    background-color: yellow;
}

header
{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #13073a;
    padding: 0;
}

article
{
    padding-top: 100px;
}